<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

<h2>Login</h2>

<input type="text" id="username" placeholder="Username"><br><br>
<input type="password" id="password" placeholder="Password"><br><br>

<button onclick="loginUser()">Login</button>

<script>
async function loginUser() {
    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;

    const response = await fetch("http://127.0.0.1:8000/api/token/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            username: username,
            password: password
        })
    });

    const data = await response.json();
    console.log(data);

    if (data.access) {
        localStorage.setItem("accessToken", data.access);
        alert("Login Successful ✅");
    } else {
        alert("Login Failed ❌");
    }
    if (data.access) {
    localStorage.setItem("accessToken", data.access);
    alert("Login Successful ✅");

    window.location.href = "/books/";
 } 

}
</script>

    
</body>
</html>
